<a href="https://colab.research.google.com/github/IshanPoudel/Knowledge-Graph-Wikidata-Experiments/blob/main/Codex_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
!git clone https://github.com/tsafavi/codex
%cd codex

fatal: destination path 'codex' already exists and is not an empty directory.
/content/codex/codex

In [ ]:
folder_path= '/content/codex/data/triples/'

In [ ]:

dataset_path = 'codex-s'

In [ ]:

final_path = folder_path+dataset_path
file_names = os.listdir(final_path)

#Initialize empty dfs
sep_pattern = r'\s+'
dfs=[]

# For all files in file_name
excluded_file = ['test_negatives.txt' , 'valid_negatives.txt']

for file_name in file_names :
  if file_name not in excluded_file:

    absolute_path = os.path.join(final_path , file_name)
    df = pd.read_csv(absolute_path , sep=sep_pattern , header=None)
    dfs.append(df)

In [ ]:
# Concatenated_df
df = pd.concat(dfs)
#Calculate unique values in each.
#Unique subject entities.
print("Distinct subject entities:", df[0].nunique())

# Distinct object entities
print("Distinct object entities:", df[2].nunique())

# Distinct relations
print("Distinct relations:", df[1].nunique())

# Total number of triples
print("Total number of triples:", df.shape[0])

#Total number of entities
#Append df[0] and df[1]
list1 = df[0].tolist()
list2 = df[2].tolist()
series = pd.Series(list1+list2)
print("Total number of entities:" , series.nunique())
print(series)

Distinct subject entities: 1702
Distinct object entities: 1034
Distinct relations: 42
Total number of triples: 36543
Total number of entities: 2034
0           Q928
1        Q443897
2          Q1014
3        Q187019
4           Q148
          ...
73081     Q11399
73082        Q30
73083       Q115
73084       Q191
73085       Q928
Length: 73086, dtype: object

In [ ]:
#Make ids on all entities and relations
#Conver the triples into ids.

In [ ]:

#Print triples.

In [ ]:
df

            0     1          2
0        Q928  P530        Q41
1     Q443897  P101    Q207628
2       Q1014  P530       Q148
3     Q187019  P106  Q18844224
4        Q148  P530        Q31
...       ...   ...        ...
1823   Q44606  P136     Q11399
1824    Q5921   P27        Q30
1825     Q953  P530       Q115
1826  Q467482   P27       Q191
1827     Q819  P530       Q928

[36543 rows x 3 columns]

In [ ]:
#Once we have the df , create ids for each entity and relation and store them somewhere.

In [ ]:
# df[1] represents properties

#Create a hashmap.

property_dict ={}
count = 1
#Automatically create ids.
for n in df[1]:


  if  n not in property_dict :
    property_dict[n] =  count
    count = count + 1

In [ ]:
property_dict

{'P530': 1,
 'P101': 2,
 'P106': 3,
 'P551': 4,
 'P463': 5,
 'P1412': 6,
 'P27': 7,
 'P264': 8,
 'P136': 9,
 'P1303': 10,
 'P135': 11,
 'P140': 12,
 'P172': 13,
 'P737': 14,
 'P361': 15,
 'P19': 16,
 'P20': 17,
 'P17': 18,
 'P119': 19,
 'P108': 20,
 'P37': 21,
 'P69': 22,
 'P102': 23,
 'P3373': 24,
 'P749': 25,
 'P26': 26,
 'P30': 27,
 'P740': 28,
 'P509': 29,
 'P2348': 30,
 'P451': 31,
 'P1050': 32,
 'P161': 33,
 'P40': 34,
 'P159': 35,
 'P840': 36,
 'P35': 37,
 'P138': 38,
 'P800': 39,
 'P112': 40,
 'P495': 41,
 'P3095': 42}

In [ ]:
#Get hashmap for entities.
entities_dict = {}

#Series contains all the entitiez in the first and last column .
count = 1
for entity in series:
  if entity not in entities_dict:
    entities_dict[entity] = count
    count = count + 1

len(entities_dict)

2034

In [ ]:
#Generate mappings

# Create a new empty DataFrame
rows = []
# Iterate through each row in 'df'
for index, row in df.iterrows():
    # Access values from 'entities_dict' and 'property_dict' based on row indices or column names
    entity = entities_dict[row[0]]
    property_val = property_dict[row[1]]
    entity2 = entities_dict[row[2]]

    # Create a new row with the extracted values and append it to the new DataFrame
    new_row = {'Subject': entity, 'Property': property_val, 'Object': entity2}
    rows.append(new_row)

# Display the new DataFrame
new_df = pd.DataFrame(rows)

In [ ]:
new_df.to_csv('/content/direct_triples_mapping_'+dataset_path+'.csv', index=False)

In [ ]:
#Generate entity2id and proprty2id txt files based on the values we have

In [ ]:
# Specify the file path and name for the output file
file_path = '/content/entity2id.txt'

# Open the file in write mode
with open(file_path, 'w') as file:
    # Iterate over the dictionary and write each key-value pair to a line in the file
    for key, value in entities_dict.items():

        file.write(f"{key},{value}\n")

In [ ]:
# Specify the file path and name for the output file
file_path = '/content/property2id.txt'

# Open the file in write mode
with open(file_path, 'w') as file:
    # Iterate over the dictionary and write each key-value pair to a line in the file
    for key, value in property_dict.items():

        file.write(f"{key},{value}\n")