<a href="https://colab.research.google.com/github/IshanPoudel/Knowledge-Graph-Wikidata-Experiments/blob/main/Codex_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
!git clone https://github.com/tsafavi/codex
%cd codex

Cloning into 'codex'...
remote: Enumerating objects: 961, done.
remote: Counting objects: 100% (94/94), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 961 (delta 46), reused 83 (delta 39), pack-reused 867
Receiving objects: 100% (961/961), 210.62 MiB | 17.34 MiB/s, done.
Resolving deltas: 100% (501/501), done.
Updating files: 100% (96/96), done.
/content/codex

In [ ]:
folder_path= '/content/codex/data/triples/'

In [ ]:

dataset_path = 'codex-l'

In [ ]:

final_path = folder_path+dataset_path
file_names = os.listdir(final_path)

#Initialize empty dfs
sep_pattern = r'\s+'
dfs=[]


for file_name in file_names:
  if file_name not in file_to_exclude:
    absolute_path = os.path.join(final_path , file_name)
    df = pd.read_csv(absolute_path , sep=sep_pattern , header=None)
    dfs.append(df)

In [ ]:
# Concatenated_df
df = pd.concat(dfs)
#Calculate unique values in each. 
#Unique subject entities. 
print("Distinct subject entities:", df[0].nunique())

# Distinct object entities
print("Distinct object entities:", df[2].nunique())

# Distinct relations
print("Distinct relations:", df[1].nunique())

# Total number of triples
print("Total number of triples:", df.shape[0])

#Total number of entities
#Append df[0] and df[1]
list1 = df[0].tolist()
list2 = df[2].tolist()
series = pd.Series(list1+list2)
print("Total number of entities:" , series.nunique())
print(series)

Distinct subject entities: 69684
Distinct object entities: 23903
Distinct relations: 69
Total number of triples: 612437
Total number of entities: 77951
0           Q504617
1           Q276304
2           Q792576
3           Q519441
4            Q91181
             ...
1224869     Q390287
1224870    Q2983698
1224871     Q639669
1224872     Q745967
1224873    Q1622272
Length: 1224874, dtype: object

ABout to add valid.txt
Distinct subject entities
Distinct object entities
Distinct relations
ABout to add train.txt
Distinct subject entities
Distinct object entities
Distinct relations
ABout to add test.txt
Distinct subject entities
Distinct object entities
Distinct relations

<bound method NDFrame.head of               0     1          2
0       Q504617  P106    Q482980
1       Q276304  P106  Q18844224
2       Q792576   P20      Q1741
3       Q519441   P27       Q145
4        Q91181  P106   Q1930187
...         ...   ...        ...
30617   Q165667  P108    Q390287
30618  Q3174738   P69   Q2983698
30619  Q1524898  P106    Q639669
30620   Q157208   P69    Q745967
30621    Q93057  P106   Q1622272

[612437 rows x 3 columns]>

69684

23903

69